audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/*
AJAX SEARCH CSS
 */
html {
    *margin-top: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

span.green {
    color: #9fd02f;
}

header {
    background-color: #6e338d;
    border-bottom: 1px solid #fff;
    color: #fff;
}

body.error404 {
    background-color: #6e338d;
}

body.error404 .page-header>h1 {
    text-align: center;
}

body.error404 .page-content>p {
    color: #fff;
    text-align: center;
}

body.error404 .page-content>p>a,
body.error404 .page-content>p>span {
    color: #fff;
}

body.logged-in .reg-btn{
    display: none;
}

.site-branding {
    padding-top: 15px;
}

.site-branding .widget-area .login-username>label,
.site-branding .widget-area .login-password>label,
.site-branding .widget-area .login-remember {
    padding-top: 6px;
}

.site-branding .widget-area .login-username>label {
    width: 140px !important;
}

.site-branding .widget-area .login-password>label {
    width: 80px !important;
}

.site-branding .widget-area .login-username .input,
.site-branding .widget-area .login-password .input {
    width: 160px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.site-branding .widget-area {
    float: left;
    margin-right: 20px;   
}

.wppb-user-forms>form>p {
    float: left;
}

.reg-btn {
    display: inline-block;
    background: #acce43;
    color: #fff !important;
    text-decoration: none;
    font-family: 'adamcg proregular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
}
 
#soundtherapy-ajax-search{
    background: rgb(247, 245, 231);
    width:500px;
    z-index: 999;
    right:0;
    top:29px;
    border:1px solid #D8D5BF;
    border-top:none;
    padding: 0;
    color: red;
    display: none;
    margin: 15px;
}

.main-hero-sect {
    background-color: #6e338d;
    color: #fff;
}

.main-hero-sect h1 {
    font-family: 'adamcg proregular', sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 0px;   
}

.main-hero-sect h3 {
    font-family: 'adamcg proregular', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px; 
}

.unlog-user-text-wrap h2 {
    font-family: 'adamcg proregular', sans-serif;
    color: #6e338d;
    text-align: center;
    margin-top: 130px;
}    

.main-hero-sect h2 {
    font-family: 'rajdhaniregular';
    margin-top: 60px;
    margin-bottom: 60px; 
}

.unlog-user-wrap {
    margin-top: 60px;
}

.unlog-user-wrap,
.unlog-user-wrap>div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#wppb-submit {
    background: #75c0dd;
    border: none;
    padding: 9px 30px 9px 30px;
    border-radius: 20px;
    color: #fff;
    font-family: 'adamcg proregular', sans-serif;
    font-size: 14px;
    margin-left: 15px;
    text-transform: uppercase;
}


img.img-ipad {
    width: 60%;
    margin-bottom: -7px;
}

.audio-wrapper {
    margin-bottom: 90px;
}

footer {
    position: inherit;
    background-color: #75c0dd;
    min-height: 50px;
    bottom: 0px;
    width: 100%;
    color: #fff;
}

.selected {
    color: red;
    background: #ccc;
}
 
/*.soundtherapy-ajax-search li{
    border-bottom: 1px solid #D8D5BF;
    padding: 5px 10px;
}*/

#soundtherapy-ajax-search {
    display: none;
    border: 1px solid black;
    width: 400px;
}

.soundtherapy-ajax-search-item {
    cursor: pointer;
    z-index: 10;
    list-style: none;
}

.livesearch-wrapper {
    margin-bottom: 30px;
}